
.vs/SludgeAnalyzer/FileContentIndex/

.vs/SludgeAnalyzer/v17/

SludgeAnalyzer/x64/Debug/

x64/Debug/

SludgeAnalyzer/x64/Release/

x64/Release/

build/Desktop_Qt_6_8_2-Debug/

*.db

.vs/SludgeAnalyzer/CopilotIndices/17.12.53.23981/

~$DewateringData-SelectedSheets.xlsx
